
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 600px;
    margin-top: 40px auto;
}

h2 {
    color: #007bff;
    text-align: center;
    margin-bottom: 30px;
    font-family:'Times New Roman', Times, serif;
}

.result-box {
    padding: 15px;
    background-color: #e9ecef;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 25px; 
}

button {
    background-color: #007bff;
    border-color: #007bff;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; 
    border-color: #004085;
}

p {
    font-size: 20px;
}

.result-box p {
    margin: 0; 
}

.highlight {
    background-color: #ffd700;
    font-weight: bold;
}

h3 {
    margin-top: 30px;
}